figure {
	margin-top: 2em;
	margin-bottom: 2em;
}

figcaption {
	font-size: .8em;
	font-style: italic;
}

.userGuideSection {
	padding: 20px 0 20px 0; 
}

/* h2 + ul { */
/* 	background: #FF0000; */
/* 	float: left; */
/* 	max-width: 200px; */
/* 	position: fixed; */
/* } */