<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/Products/UserGuideCss/bootstrap_noprint.min.css">
	<link rel="stylesheet" type="text/css" href="/Products/UserGuideCss/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/Products/UserGuideCss/Theme.css">
	<link rel="stylesheet" type="text/css" href="/Products/UserGuideCss/UserGuide.css">
	<link rel="stylesheet" type="text/css" href="/Products/UserGuideCss/highlightjs/styles/github-gist.css">
</head>
<body>
<div id="MainContent">
{{ content }}	
</div>

<!--<footer>-->
<!-- <ul>-->
<!-- <li><a href="https://github.com/OutcoderSoftware">github.com/OutcoderSoftware</a></li>-->
<!-- </ul>-->
<!--</footer>-->
</body>
</html>